
/* The '.box' class sets the height to cover the full viewport height (100vh), 
restricts the maximum width to 75rem, adds a shadow effect, centers the box with margin, 
and sets the background color to white. */
.box {
    height: 100vh;
    max-width: 75rem;
    box-shadow: 0px 50px 20px 16px #000000;
    margin: auto;
    background-color: white;
}
/* The '.bground' class applies a background image to the element, sourced from '../../images/Roadmap.jpg'. */
.bground {
    background-image: url('../../images/Roadmap.jpg');
}
