.page {
    padding: 20px;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
  }
  
  .sort-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .sort-options label {
    margin-right: 10px;
    font-weight: bold;
    color: #324b5f;
  }
  
  .sort-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #324b5f;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
  }
  
  .sort-btn:hover {
    transform: scale(1.2);
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  